@font-face {
  font-family: "Alfa Slab One";
  src: url("../fonts/alfaslabone.woff") format("woff");
}

@font-face {
  font-family: "Kefa";
  src: url("../fonts/kefa.woff") format("woff");
}

@font-face {
  font-family: "Ahsing";
  src: url("../fonts/ahsing.woff") format("woff");
}