* {
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 0;
}

body {
  font-family: "Kefa", sans-serif;
  margin: 0;
}

img {
  max-width: 100%;
}

iframe {
  width: 100%;
  max-width: 900px;
  height: 75vh;
  border: none;
  margin-top: 2rem;
}

footer {
  padding-top: 4rem;
  font-size: 0.9rem;
  padding: 3rem 15vw 1rem 15vw;
  text-align: center;

  ol {
    padding-left: 1rem;
    margin-top: 1.5rem;
    margin-bottom: .5rem;
  }

  .sponsored-by-box {
    display: inline-flex;
    .medium-text {
      margin-top: 0;
    }
  } 
}

a {
  color: lighten($text, 30);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Alfa Slab One";
}

h1,
h2 {
  font-size: 2rem;
  margin-top: 3rem;

  @media screen and (min-width: $bp) {
    font-size: 4rem;
    margin-top: 4rem;
  }
}

h3 {
  font-size: 1.8rem;
  margin-top: 3rem;

  @media screen and (min-width: $bp) {
    font-size: 2.2rem;
    margin-top: 4rem;
  }
}

blockquote {
  margin-left: 0;
  font-size: 1.6rem;
  display: grid;
  align-items: center;
  gap: 1rem;

  @media screen and (min-width: $bp) {
    font-size: 1.8rem;
    grid-template-columns: 300px auto;
    gap: 3rem;

    &:nth-child(even) {
      grid-template-columns: auto 300px;

      img {
        grid-column: 2/3;
      }

      q {
        grid-column: 1/2;
        grid-row: 1/2;
        text-align: right;
      }
    }
  }

  cite {
    display: block;
    margin-top: .5rem;
    // font-weight: ;
    font-style: normal;
    font-family: "Alfa Slab One";
  }
}

h3+blockquote,
blockquote+blockquote {
  margin-top: 3rem
}
