$text: #1E1D3D;
$bg: #FDFBF5;



$blue: #4E769F;
$blue2: #5F97D0;

$codebar-pink: #ff036a;
$codebar-green: #19f3be;
$codebar-blue: #4bafff;



$red: #EA346C;


$bp: 700px;


// neons
$neon-blue: #92FFF8;
$neon-green: #75FBCF;
$neon-red: $red;
$neon-yellow: #F6B944;
$pale-red: #F895B3;
$pale-blue: #FFE493;
$dark-blue: $blue2;