@import "_vars";
@import "_fonts";
@import "_globals";

.big-text {
  font-size: 1.25rem;
  margin-top: 2rem;

  @media screen and (min-width: $bp) {
    font-size: 1.5rem;
  }
}

.bigger-text {
  font-size: 1.6rem;
  margin-top: 2rem;

  @media screen and (min-width: $bp) {
    font-size: 2.6rem;
  }
}

.two-thirds {
  @media screen and (min-width: $bp) {
    max-width: 70%;
  }
}

.drop-cap::first-letter {
  initial-letter: 2;

  float: left;
  font-size: 75px;
  line-height: 60px;
  padding-top: 9px;
  padding-right: 8px;
}

.contained {
  padding: 1rem 5vw;
  color: $text;
  background-color: $bg;

  @media screen and (min-width: $bp) {
    padding: 2rem 15vw;
  }

  &--inverted {
    color: $bg;
    background: $text;

    .box--dark {
      background: $bg;
      color: $text;
    }
  }
}

.box {
  background: $blue2;
  padding: 2rem;
  border-radius: 50px;
  color: $bg;
  font-size: 1.2rem;

  @media screen and (min-width: $bp) {
    padding: 4rem;
    font-size: 1.8rem;
  }

  &--dark {
    background: $text;
  }
}



.pull-right {
  @media screen and (min-width: $bp) {
    float: right;
    max-width: 50%;
    margin-left: 1rem;
  }
}

.gallery {
  display: grid;
  gap: 2rem;

  @media screen and (min-width: $bp) {
    grid-template-columns: repeat(2, 1fr);
  }

  h img {
    object-fit: contain;
    width: 100%;
    // height: 500px;
  }

  &--three-cols {
    grid-template-columns: repeat(2, 1fr);

    @media screen and (min-width: $bp) {
      grid-template-columns: repeat(3, 1fr);
    }

    img {
      height: 230px;
    }
  }
}

.chart {
  text-align: center;

  h3 {
    margin-top: 0;
  }

  img {
    margin-top: 1rem
  }
}

.overlappy {
  display: grid;
  gap: 2rem;
  text-align: center;

  @media screen and (min-width: $bp) {
    grid-template-columns: repeat(3, 1fr);
  }

  img {
    margin: auto;
  }
}

.ring {
  border: 45px solid $red ;
  border-radius: 100%;
  padding: 2rem;
  height: 320px;
  width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}