@import "_vars";
@import "_fonts";
@import "_globals";

.big-text {
  font-size: 1.25rem;
  margin-top: 2rem;

  @media screen and (min-width: $bp) {
    font-size: 1.5rem;
  }
}

.bigger-text {
  font-size: 1.6rem;
  margin-top: 2rem;

  @media screen and (min-width: $bp) {
    font-size: 2.6rem;
  }
}

.two-thirds {
  @media screen and (min-width: $bp) {
    max-width: 70%;
  }
}

.drop-cap::first-letter {
  initial-letter: 2;

  float: left;
  font-size: 75px;
  line-height: 60px;
  padding-top: 9px;
  padding-right: 8px;
}

.contained {
  padding: 2rem 5vw;
  color: $text;
  background-color: $bg;

  @media screen and (min-width: $bp) {
    padding: 3rem 15vw;
  }

  &--inverted {
    color: $bg;
    background: $text;

    .box--dark {
      background: $bg;
      color: $text;
    }
  }

  *:first-child {
    margin-top: 0;
  }
}

.box {
  background: $blue2;
  padding: 2rem;
  border-radius: 50px;
  color: $bg;
  font-size: 1.2rem;

  @media screen and (min-width: $bp) {
    padding: 4rem;
    font-size: 1.8rem;
  }

  &--dark {
    background: $text;
    font-size: 1.5rem;
    padding: 3.5rem;
  }

  p+p {
    margin-top: 1rem;
  }
}

.margin-top {
  margin-top: 1rem;
}

.margin-top-double {
  margin-top: 2rem;
}

.pull-right {
  margin-top: 1rem;

  @media screen and (min-width: $bp) {
    float: right;
    max-width: 50%;
    margin-left: 2rem;
  }
}

.logos {
  display: flex;
  align-items: center;
  justify-content: center;
  li {
    padding: 30px;
  }
  img {
    height: 80px;
  }
}

.gallery {
  display: grid;
  gap: 2rem;
  align-items: center;

  @media screen and (min-width: $bp) {
    grid-template-columns: repeat(2, 1fr);
  }

  img {
    object-fit: contain;
    width: 100%;
    // height: 500px;
  }

  &--three-cols {
    grid-template-columns: repeat(2, 1fr);

    @media screen and (min-width: $bp) {
      grid-template-columns: repeat(3, 1fr);
    }

    img {
      height: 230px;
    }
  }

  &--three-cols-desktop-only {

    @media screen and (min-width: $bp) {
      grid-template-columns: repeat(3, 1fr);
    }

    img {
      height: 230px;
    }
  }

  &--four-cols {
    grid-template-columns: repeat(2, 1fr);

    @media screen and (min-width: $bp) {
      grid-template-columns: repeat(4, 1fr);
    }

    img {
      height: 230px;
    }
  }

  &--four-cols-desktop-only {

    @media screen and (min-width: $bp) {
      grid-template-columns: repeat(4, 1fr);
    }

    img {
      height: 230px;
    }
  }
}

.chart {
  text-align: center;

  h3 {
    margin-top: 0;
  }

  img {
    margin-top: 1rem
  }

  dl {
    max-width: 250px;
    margin: 0 auto;

    div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  dd {
    margin-left: 0;
  }


}

.ring {
  border: 45px solid $red ;
  border-radius: 100%;
  padding: 2rem;
  height: 320px;
  width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  margin: 0 auto;

  @media screen and (min-width: $bp) {
    float: right;
    margin-left: 2rem;
  }
}

.neon-blue {
  color: #92FFF8;
  font-family: "Alfa Slab One";
}

.box-list {
  list-style: none;
  display: grid;
  gap: 1rem;
  padding-left: 0;
  margin-top: 2rem;

  @media screen and (min-width: $bp) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  li {
    background: $text;
    padding: 2rem;
    border-radius: 50px;
    color: $bg;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    @media screen and (min-width: $bp) {
      padding: 2rem;
      font-size: 1.5rem;
    }

  }

  &--four-cols {
    @media screen and (min-width: $bp) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  &--neon {
    li {
      border: 4px solid $neon-blue;

      &:nth-child(2) {
        border-color: $red;
      }

      &:nth-child(3) {
        border-color: $bg;
      }

      &:last-child {
        border-color: $neon-blue;
      }
    }
  }
}

.sign-off {
  font-family: "Ahsing";
  font-size: 6rem;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;

  @media screen and (min-width: $bp) {
    font-size: 12rem;
  }
}

.download-link {

  text-align: center;
  margin-top: 0;

  a {
    color: transparentize($bg, 0.5);
  }
}

.centred-text {
  text-align: center;
}

.tag-list {
  padding-left: 0;
  list-style: none;
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: inherit;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  li {
    display: inline-block;
    border: 3px solid $neon-blue;
    border-radius: 5px;
    margin-right: 0.25rem;
    padding: 0.5rem 0.75rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;

    a {
      color: white;
    } 


  }

  &--solid-blue li {
    background: $dark-blue;
    color: $bg;
    border: none;
  }

  &--solid-red li {
    background: $red;
    color: $bg;
    border: none;
  }

  &--multicolour li {
    &:nth-child(4n) {
      border-color: $neon-blue;
    }

    &:nth-child(4n+1) {
      border-color: $neon-green;
    }

    &:nth-child(4n+2) {
      border-color: $neon-red;
    }

    &:nth-child(4n+3) {
      border-color: $neon-yellow;
    }
  }
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  .social-media-icon {
    transition: all 0.6s ease;
    width: 30px;
    margin-right: 15px;
    &:hover {
      transform: scale(1.3);
    }
  }
}
